.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.desktopContainer {
  display: flex;
}

.header img {
  cursor: pointer;
}

.navList {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navList > li {
  height: 100%;
}

.navList > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.navList > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.iconList {
  max-height: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.icon {
  width: 90px;
  height: 90px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon:hover,
.icon:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobileContainer {
  display: none;
}

@media screen and (max-width: 1200px) {
  .mobileContainer {
    display: flex;
  }

  .desktopContainer {
    display: none;
  }
}
