.table {
  width: 60vw;
  height: 60vh;
}

.section {
  width: 60vw;
}

.bar {
  display: flex;
  margin: 0 0 1rem;
}

.icon {
  color: var(--font-color);
}

.section .bar .input *,
.section .bar .input *::placeholder {
  color: var(--font-color);
}

.section .bar .input div:focus {
  border-color: var(--font-color);
}

.section .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.section .table {
  background: transparent;
}

.section .cell {
  color: var(--font-color);
  border-color: rgba(0, 0, 0, 0.3);
}

.section .headerCell {
  background-color: var(--font-color);
  border-color: var(--font-color);
}

.section ::-webkit-scrollbar {
  width: 0;
}
