.mailFooter {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.topLine {
	display: flex;
	gap: 1rem;
}

.box {
	width: 60vw;
}

@media screen and (max-width: 600px) {
	.topLine {
		flex-direction: column;
	}

	.box {
		width: 90vw;
	}
}
