.main {
  min-height: calc(100vh - 160px);
  background: url('/images/background-griffon.png') center center no-repeat var(--background);
}

@media (min-width: 550px) {
  .main {
    min-height: calc(100vh - 160px);
  }
}
