.article {
  height: calc(100vh - 160px);
  width: 21vw;
  width: 291px;
  padding: 3rem 9px 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .article {
    display: none;
  }
}
