.wholePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40vw;
  padding: 2rem;
}
