.dictionaryPanel {
	height: calc(100vh - 160px);
	width: 266px;
	background-color: var(--background-featured);
	border-bottom: 1px solid var(--background);
}

.dictionaryPanel .li {
	margin: 0;
	padding: 0 4px;
}

.dictionaryPanel a {
	font-size: 16px;
	width: 100%;
	display: flex;
	padding-left: 10px;
}

.dictionaryPanel .li:hover {
	background-color: var(--black-01);
}

@media (max-width: 1200px) {
	.dictionaryPanel {
		display: none;
	}
}
