.dictionaryPanel {
  height: calc(100vh - 160px);
  width: 237px;
  overflow-y: auto;
  background-color: var(--background-featured);
}

.dictionaryPanel li {
  margin: 0;
  padding: 0 4px;
}

.dictionaryPanel a {
  font-size: 16px;
  width: 100%;
}

.dictionaryPanel li:hover {
  background-color: var(--black-01);
}

@media (max-width: 1200px) {
  .dictionaryPanel {
    display: none;
  }
}
