.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70px;
  background-color: var(--background-featured);
}

.footerList {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.footerList > li > a {
  display: flex;
}
